# Fichero de configuracion del Sistema Esquelemod
# version YAML 
#
####################################################################################################
#  Valor referente al identificador de  referencia local en la estructura de datos de este fichero #
####################################################################################################
#mucho cuidado de no hacer referencias ciclicas porque traen problemas, este identificador tiene que cumplir las reglas de expresiones regulares para funciones PCRE
# 
 identificador_referencia_local: localis_
#
##########################################################################################
#  Valores referentes a los Gestores de Estructuras de Datos en Entidades del Esquelemod #
##########################################################################################
#
 gedees:
         path_dir_raiz: gedees
         seguridad:                       
                    gestion_seguridad: true
                    propietario_entidad: true
                    ambito_seguridad: restrictivo
                    actualizar_datos_seguridad: false 
                    datos_seguridad: 
                                     \Emod\Nucleo\Gedees:
                                                          - GedeeEPadre
                                                          - GedeeENucleo                                
                                                          - GedeeEComun                                
         existentes_sistema:
                             \Emod\Nucleo\Gedees:
                                                  GedeeEPadre:
                                                                path_control: eclase_padre/gedee_epadre_control.php
                                                                referencia_path_control: relativo
                                                  GedeeENucleo:
                                                                path_control: enucleo/gedee_enucleo_control.php
                                                                referencia_path_control: relativo
                                                  GedeeEComun:
                                                                path_control: ecomun/gedee_ecomun_control.php
                                                                referencia_path_control: relativo
#  
##############################################
#  Valores referentes al Sistema Esquelemod  #
##############################################
#
 sistema: 
          #Propiedades del sistema o proceso nucleo
          propiedades_proceso: 
                               version_sistema: macro 0.0.1
                               version_fich_configuracion: YAML 0.0.1
                               id_proceso: NucleoEsquelemod
                               namespace_gedee: \Emod\Nucleo\Gedees
                               clase_gedee: GedeeENucleo
                               id_gedee: GedeeENucleo 
                               version: 0.0.1
                               dependencias: 
                               conflictos:
          #Datos de seguridad del proceso esquelemod
          datos_seguridad:
                           permiso_ejecucion:
                                              ambito: restrictivo
                                              procesos:
                                                         
                           acceso_seguridad:
                                              ambito: restrictivo
                                              procesos:
                                                        
                           acceso_configuracion:
                                                 ambito: restrictivo
                                                 procesos:
                                                        
                           acceso_datos:
                                         ambito: restrictivo
                                         procesos:
#
#########################################################
#  Valores referentes a las Herramientas del Esquelemod #
#########################################################
#
 herramientas:
               ejecucion: true
               path_dir_raiz: herramientas
                               
               seguridad:                       
                          gestion_seguridad: true
                          propietario_entidad: true
                          ambito_seguridad: permisivo
                          actualizar_datos_seguridad: false 
                          datos_seguridad: 
                                           nombre_namespace1:
                                                              - nombre_clase1                                
                                                              - nombre_clase2                                
                                                              - nombre_claseN                                
                                           nombre_namespaceN:
                                                              - nombre_clase1                                
                                                              - nombre_clase2                                
                                                              - nombre_claseN                                
               existentes_sistema:
                                   \Emod\Nucleo\Herramientas:
                                                              Spyc:
                                                                    path_entidad_clase: e_modulos/nucleo/nucleo_bib_funciones/herramientas/spyc.php
                                                                    referencia_path_entidad: relativo_esquelemod
                                                                    tipo_entidad: clase
                                                                    instancias:
                                                                                Spyc:
                                                              EArreglo:
                                                                        path_entidad_clase: e_modulos/nucleo/nucleo_bib_funciones/herramientas/class_herramienta_earreglo.php
                                                                        referencia_path_entidad: relativo_esquelemod
                                                                        tipo_entidad: clase
                                                                        instancias:
                                                                                    EArreglo:
                                                              EDatosFormatoTxt:
                                                                                path_entidad_clase: e_modulos/nucleo/nucleo_bib_funciones/herramientas/class_eh_datfortxt.php
                                                                                referencia_path_entidad: relativo_esquelemod
                                                                                tipo_entidad: clase
                                                                                instancias:
                                                                                            EDatosFormatoTxt:
#                                                                     
###################################################
#  Valores referentes a los Utiles del Esquelemod #
####################################################
#
 utiles:
         ejecucion: true
         path_dir_raiz: utiles
                               
         seguridad:                       
                    gestion_seguridad: true
                    propietario_entidad: true
                    ambito_seguridad: permisivo
                    actualizar_datos_seguridad: false 
                    datos_seguridad: 
                                     nombre_namespace1:
                                                        - nombre_clase1                                
                                                        - nombre_clase2                                
                                                        - nombre_claseN                                
                                     nombre_namespaceN:
                                                        - nombre_clase1                                
                                                        - nombre_clase2                                
                                                        - nombre_claseN                                
#################################################################
#  Valores referentes a Tratamiento de Errores en el Esquelemod #
#################################################################
#
 errores:
         ejecucion: true
         path_dir_raiz: errores
         seguridad:                       
                    gestion_seguridad: true
                    propietario_entidad: true
                    ambito_seguridad: permisivo
                    actualizar_datos_seguridad: false 
                    datos_seguridad: 
                                     nombre_namespace1:
                                                        - nombre_clase1                                
                                                        - nombre_clase2                                
                                                        - nombre_claseN                                
                                     nombre_namespaceN:
                                                        - nombre_clase1                                
                                                        - nombre_clase2                                
                                                        - nombre_claseN                                
         entidad_errores_emod:
                               \Emod\Nucleo\Errores:
                                                     EErrores:
                                                               path_entidad_clase: e_modulos/nucleo/nucleo_bib_funciones/class_eerrores.php  
                                                               referencia_path_entidad: relativo_esquelemod
                                                               tipo_entidad: objeto
                                                               iniciacion: construct
                                                               instancias:
                                                                           EEoErrores:
                                                                                       parametros_iniciacion:
                                                                                                              - localis_['errores']['entidad_gedege_emod']
                                                                                                              - localis_['errores']['funcion_gestor_errores']
                                                                                                              - localis_['errores']['elementos_error']
                                                                                                              - localis_['errores']['formato_mensaje']
                                                                                                              - localis_['errores']['fuente_datos_error']
                                                                                                              - localis_['errores']['formato_filtrado']
                                                                                                              - localis_['errores']['tipos_error']            
                                                                                       datos:
         funcion_gestor_errores:
                                 identificador: gestorErroresEmod
                                 nombre_funcion: gestorErroresEmod
         entidad_gedege_emod:
                              Emod\Nucleo\Errores\Gedege:
                                                          GedegeTxtEmod:
                                                                         path_entidad_clase: gedeges/gedege_txt_emod/gedege_bib_funciones/class_gedege_txt_emod.php
                                                                         referencia_path_entidad: relativo
                                                                         tipo_entidad: objeto
                                                                         instancias:
                                                                                     GedegeTxtEmod:
                                                                                                    datos:
         elementos_error:
                           miembros_errorlog:
                                              - tiempo
                                              - fichero
                                              - linea
                                              - proceso
                                              - gedee_proceso
                           miembros_error:
                                              - id
                                              - tipo
                                              - mensaje
         fuente_datos_error:
                             path_fich_error: error.txt
                             referencia_path_error: relativo 
                             path_fich_errorlog: errorlog.txt
                             referencia_path_errorlog: relativo
         formato_filtrado:
                            formato:
                                     separador: "::"
                            filtrado:
                                      marca_ausente: true
         formato_mensaje:
                          formato_mensaje_error: 
                                                    - id
                                                    - tipo
                                                    - mensaje
                          formato_mensaje_errorlog: 
                                                    - id
                                                    - tipo
                                                    - mensaje
                                                    - tiempo
                                                    - fichero
                                                    - linea
                                                    - proceso
                                                    - gedee_proceso
         tipos_error: E_ALL
    
#                                                                                  
#                                                                            
    
##############################################
#  Valores referentes a Bloques de procesos  #
##############################################
# Bloques de procesos a cargar por el sistema
 procesos:
                   path_raiz_procesos: procesos
                   orden_permiso_ejecucion_bloques:
                                                    -bloque_defecto
                                                    #-bloque_fundator
                   arbol_procesos:
                                   limite_idorejec_global: -1
                                   limite_idorejec_bloqueprocesos: -1
                                   limite_idorejec_subproceso: -1
                                   limite_idorejec_recursivoproceso: -1
                                   limite_idorejec_recursivoproimpejec: -1
                   seguridad_procesos:
                                       permision_nucleo:
                                                         ambito_seguridad: permisivo
                                                         procesos:
                                                                   - proceso1
                                                                   - procesoN
                                       permision_clientes:
                                                           ambito_seguridad: permisivo
                                                           procesos:
                                                                     \namespace: 
                                                                                 clase:
                                                                                        - proceso1
                                                                                        - procesoN
                   bloques_procesos:
                                     bloque_defecto: 
                                                     apertura: 
                                                                gedee_proceso: 
                                                                               namespace: \Emod\Nucleo\Gedees
                                                                               clase: GedeeEComun
                                                                               id_entidad: GedeeEComun                                                            
                                                                propiedades_implementacion_proceso: 
                                                                                                    path_raiz: apertura                          
                                                                                                    path_arranque: apertura_control.php
                                                                                                    obligatoriedad: 1
#                                                    idproceso: 
#                                                               gedee_proceso: 
#                                                                              namespace:
#                                                                              clase:
#                                                                              id_entidad:                                                           
#                                                               propiedades_implementacion_proceso: 
#                                                                                                   path_raiz:                         
#                                                                                                   path_arranque:
#                                                                                                   obligatoriedad:
#                                    idbloque:                                
#                                              idproceso: 
#                                                         gedee_proceso:
#                                                                        namespace:
#                                                                        clase:
#                                                                        id_entidad:                                                           
#                                                         propiedades_implementacion_proceso: 
#                                                                                             path_raiz:                         
#                                                                                             path_arranque:
#                                                                                             obligatoriedad:



           