# Fichero de configuracion del GEDEE
# version YAML 


##############################################
#  Valores referentes al GEDEE #
##############################################
# Propiedades del GEDEE
 
       namespace: \Emod\Nucleo\Gedees
       clase: GedeeEPadre
       path_entidad_clase: [raiz_gedees]/eclase_padre/gedee_bib_funciones/class_gedee_epadre.php(esta es provisional pues se cambia en el control) 
       tipo_entidad: clase
       instancias:
                   GedeeEPadre:
                                datos:
                                       version_gedee: 0.0.1
                                       version_fich_configuracion: YAML 0.0.1                                                                         
                     
				    